* {
	box-sizing: border-box;
  }

body
    {
      font-family: sans-serif;
      padding:150px;
      background-color: #f1f1f1;
    }

#Company_Logo
    {
      padding-bottom: 12px;
      text-align: center;
	}
	

#Company_Logo img
    {

      display: block;
      overflow: hidden;
      width: 135px;
      height: 80px;
    
    
    }

#Menu_Options
    {
      overflow: hidden;
      background-color: #aaa;
    }

#Menu_Options a
    {
      float: left;
      display: block;
      text-align: center;
      padding:14px 16px;
      text-decoration: none;
	}
#Menu_Options a:link
	{
		color:white;
	}
#Menu_Options,.Border,#Footer
	{
		border-radius:10px;
	}

#Content
    {
      float: left;
      width:75%;
    }

#Right_Panel
    {
      float: left;
      width: 25%;
      padding-left:20px;
    }

#Middle
{
  margin-top: 45px;
  margin-bottom: 45px;
}

.Border
    {
      background-color: white;
      padding:40px;
      margin-top: 10px;
    }

#Main_Page:after
    {
      content: "";
      display: table;
      clear:both;
    }

#Footer
    {
      padding: 20px;
      text-align: left;
      background-color: #aaa;
      margin-top: 20px; 

    }

@media screen and (min-width:300px) and (max-width:800px){
    body{
        width:100%;
        background-color:lightblue;
    }
    #Content,#Right_Panel{
		float:none;
		width:100%;
    }
}